#new_user{
  border: solid black 1px;
  width: 150px;
  padding: 25px;
  margin-bottom: 15px;
  background-color: none;
  font-family: sans-serif;

}
#returning_user{
  border: solid black 1px;
  width: 150px;
  padding: 25px;
  background-color: none;
  font-family: sans-serif;
}
#new_user label, #new_user input, #returning_user label, #returning_user input,{
  display: block;
  margin-bottom: 5px;
}
#new_user input, #returning_user input{
  background-color: none;
  border-radius: 10px;
}




#container{
  height: 250px;
  width: 350px;
  border: solid black 1px;
}
h1, h2, p, th, label{
  color: white;
}
body{
  background-image: url("../img/RKS9M8PY0X.jpg");
  background-size: 120% 150%;
  background-repeat: no-repeat;
}
h4{
  color: green;
}

h1{
  font-size: 450%;
  font-family: cursive;;
  color: darkblue;
  margin-left: 550px;
}

h2{
  font-size: 150%;
  font-family: cursive;;
  color: white;
  margin-left: 550px;
