<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>{{loan.loan_name}}</title>
  {% load staticfiles %}

<!-- Bootstrap -->
<link href="{% static 'repp/css/bootstrap.min.css' %}" rel="stylesheet">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" href="{% static 'repp/css/style.css' %}"media="screen" title="no title"  charset="utf-8">
</head>
<body>
<!-- Fixed navbar -->
  <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">REPP</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="{% url 'repp:index' %}">Home</a></li>
              <li><a href="{% url 'repp:about' %}">About</a></li>
              <li><a href="{% url 'repp:logout' %}">Logout</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li role="separator" class="divider"></li>
                  <li class="dropdown-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="{% url 'repp:add_loan' %}">Add</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </nav>


  <p>1</p>
  <p>2</p>

{% for lender in loan.lenderloan.all %}
  {% for borrower in loan.borrowerloan.all %}
  <form action="{% url 'repp:update' loan_id=lender.loan.id%}" method="POST">
    {% csrf_token %}
    <div class="form-group">
      <label for="borrower_name">Here is the info for your loan to: {{borrower.user.first_name}} {{borrower.user.last_name}}</label>
    </div>
    <div class="form-group">
      <label for="loan_name">Here is your loans name</label>
      <input type="text" class="form-control" name="loan_name" id="loan_name" value="{{loan.loan_name}}">
    </div>
    <div class="form-group">
      <label for="lend_amount">This was the original amount: {{lender.lend_amount}}</label>
    </div>
    <div class="form-group">
      <label for="loan_remaining">This is the amount remaining: {{borrower.total_amount}}</label>
    </div>
    <div class="form-group">
      <label for="descrption">This description is for your eyes only</label>
      <textarea class="form-control" rows="3" name="descrption" id="descrption">{{loan.descrption}}</textarea>
    </div>
    <div class="form-group">
      <label for="payment_deadline">When do you want to be paid back completely</label>
      <input type="date" class="form-control" name="payment_deadline" id="payment_deadline" value="{{lender.payment_deadline|date:'Y-m-d'}}">
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox"> Do you want to set up a payment schedule?
      </label>
    </div>
    <div class="form-group">
      <label for="min_payment_date">When do you wnat the first payment</label>
      <input type="date" class="form-control" name="min_payment_date" id="min_payment_date" value="{{lender.min_payment_date|date:'Y-m-d'}}">
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox"> I have read the terms and conditions
      </label>
    </div>
    <button type="submit" class="btn btn-default">Update Loan</button>
  </form>
  {% endfor %}
{% endfor %}




  <script src="{% static 'repp/js/main.js' %}" > </script>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="{% static 'repp/js/bootstrap.min.js' %}"></script>

</body>
</html>
